#
# Magnetometer sensors
#
menu "Magnetometer sensors"

config SENSORS_AK8975
	tristate "Asahi Kasei AK8975 3-Axis Magnetometer"
	depends on I2C
	depends on GENERIC_GPIO
	help
	  Say yes here to build support for Asahi Kasei AK8975 3-Axis
	  Magnetometer.

	  To compile this driver as a module, choose M here: the module
	  will be called ak8975.

config SENSORS_HMC5843
	tristate "Honeywell HMC5843 3-Axis Magnetometer"
	depends on I2C
	help
	  Say Y here to add support for the Honeywell HMC 5843 3-Axis
	  Magnetometer (digital compass).

	  To compile this driver as a module, choose M here: the module
	  will be called hmc5843

config INV_MMC328X_IIO
    tristate "Invensense IIO driver for Memsic MMC328x compass"
    depends on I2C && SYSFS && IIO && IIO_KFIFO_BUF
    default n
    help
      This driver supports the Memsic MMC328x compass. It is the Invensense
      IIO implementation for the MMC328x compass device.
      This driver can be built as a module. The module will be called
      inv-mmc328x-iio.

endmenu
