# CONFIG_WIFIONLY_BOARD is not set
# CONFIG_NF_CONNTRACK_FTP is not set
# CONFIG_NF_NAT_FTP is not set
CONFIG_VIBRATOR_ANDROID=y
CONFIG_ANDROID_TIMED_GPIO=y
# CONFIG_SEC_IRLED is not set
CONFIG_SENSORS_ASP01=y
# CONFIG_J4FS_USE_XSR is not set
# CONFIG_J4FS_USE_FSR is not set
# CONFIG_J4FS_USE_MOVI is not set

#Latin Mobile TV
CONFIG_ISDBT=y
CONFIG_ISDBT_FC8150=y