CONFIG_WIFIONLY_BOARD=y
CONFIG_MACH_LT02LGT=y
# CONFIG_NF_CONNTRACK_FTP is not set
# CONFIG_NF_NAT_FTP is not set
CONFIG_NFC_PN547=y
CONFIG_VIBRATOR_ANDROID=y
CONFIG_ANDROID_TIMED_GPIO=y
CONFIG_GPADC0_CURRENT_SINK_MODE=y
# CONFIG_SENSORS_ATSN01P is not set
# CONFIG_J4FS_USE_XSR is not set
# CONFIG_J4FS_USE_FSR is not set
# CONFIG_J4FS_USE_MOVI is not set
