#
# Marvell in-kernel driver configuration
#

menuconfig MARVELL_IN_KERNEL
	bool "Marvell in-kernel driver support for Tab 3 7.0"
	depends on MACH_LT02

if MARVELL_IN_KERNEL

config MARVELL_IN_KERNEL_GC1000
	bool "Use in-kernel GC1000 GPU driver"

config MARVELL_IN_KERNEL_SD8787
	bool "Use in-kernel SD8787 driver for wireless support"

config MARVELL_IN_KERNEL_TELEPHONY
	bool "Use in-kernel telephony driver"

config MARVELL_IN_KERNEL_GEU
	bool "Use in-kernel Generic Encrypt Uint driver"

config MARVELL_IN_KERNEL_PHYSRW
	bool "Use in-kernel physrw driver"

endif # MARVELL_IN_KERNEL
